@model Francisco_Thiago.Models.NotaDeVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotaDeVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTransportadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTransportadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
